<div style="margin:100px 500px">
  <h2>OpenAI Demo</h2>


  <form (ngSubmit)="submitForm()">
    <label>
      Enter Topic:
      <input type="text" name="firstName" [(ngModel)]="topic">
    </label><br><br>
    <label>
      No of Questions:
      <input type="range" name="rating" min="1" max="10" [(ngModel)]="rating" value="1">
      {{ rating }}
    </label><br><br>
    <button type="submit">Submit</button>
  </form>

  <div>
    <h3>MCQ Questions relted to {{topic}}</h3>
    <p>{{text}}</p>
  </div>

  <!-- mcq-quiz.component.html -->



</div>
